<div>
  <h3>
    <%= property[:displayable_address] %> - <%= property[:price] %> p.w.
  </h3>

  <img src="<%= property[:image_url] %>" width="325" height="255" />

  <p><%= property[:short_description] %></p>

  <a href="<%= property[:details_url] %>">See this property.</a>
</div>
